@charset "UTF-8";

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body {
    height: 100vh;
    
    display: flex;
    justify-content: center;
    align-items: center;
    
    background-color: rgb(43, 43, 43);
}

main {
    width: 700px;
    height: 300px;
    padding: 10px;

    display: flex;
    justify-content: space-between;
    align-items: center;

    background-color: rgb(26, 26, 26);
}

main .relogio {
    padding: 20px;

    font-size: 5em;
    
    background-color: white;
}

main .doispontos {
    color: white;
    font-size: 5em;
}